#Eclipse stuff
/.classpath
/.project
/.settings
/bin/

#Libraries
/lib/

#Game data
/data/
/screenshots/

#Random file storage
/misc/

#Exported libraries
/Chroma_lib/

#Source for testing-environment modules
/moduleSrc/

#Compiled modules
/modules/

#Extracted modules
/resources/
